.logo-container {
    width: 400px;
    height: 55  0px;
    // background-color: brown;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    border-radius: 20%;
}

.img-foto {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    margin-top: -30px;
    width: 100%;
    // opacity: 0;
    z-index: 1;
}
